*{
	margin: 0 auto;
	text-align: center;
	font-size: 19px;
	font-family: tahoma;


}
input{
	background-color: transparent;
	padding: 10px;
	width: 60px;
	height: 60px;
	float: left;
	border:1px solid #1D1D35;
}

body{
	margin-top: 0%;
	background-image: linear-gradient(to bottom, white, #5D478B);
	display: flex;
	-webkit-align-items: center;
}

.formatacao{
	width: 240px;
	height: 400px;
	background-color: #282743;
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.10),
  0px 5px 20px rgba(0,0,0,0.5),
  0px 5px 20px rgba(0,0,0,0.5),
  0px 5px 20px rgba(0,0,0,0.5);


}

.ftexto{
	width: 240px;
	height: 100px;
	background-color: #1D1D35;
	text-align: right;
	color: white;
	border-radius: 12px 12px 0 0;
	font-size: 40px;

}

.operadores{
    float: left;
	background-image: linear-gradient(to right, #E481F4 , #6E2B78);
}
.zero{
	background-color: transparent;
	padding: 10px;
	width: 120px;
	height: 60px;
	float: left;
	border:1px solid #1D1D35;
	border-radius: 0 0 0 12px;
}
.igual{
    float: left;
	background-image: linear-gradient(to right, #E481F4 , #6E2B78);
	border-radius: 0 0 12px 0;
}
.colorido{
	color: #8D4399;
}